.App-component {
    border: 2px solid #111;
    border-radius: 8px;
    color: #111;
}

.App-component>div {
    display: flex;
    justify-content: space-around;
}

.btn--STOP,
.btn--START {
    margin: 18px 0;
    border: 2px solid #111;
    border-radius: 8px;
    color: #111;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn--STOP:hover,
.btn--START:hover {}

.edit,
.remove {
    align-items: center;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.edit {
    background-color: #fee6e3;
}

.remove {
    background-color: #f03e26;
}

.edit:after,
.remove:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.edit:hover:after,
.remove:hover:after {
    transform: translate(0, 0);
}

.edit:active,
.remove:active {
    background-color: #ffdeda;
    outline: 0;
}

.edit:hover,
.remove:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .edit,
    .remove {
        padding: 0 40px;
    }
}